@using PL.pages;
@{
    var fullName = CarRefsContainer.currentRef.vendor + " " + CarRefsContainer.currentRef.model;
}

<p class="carReference"><input type="radio" name="carModel" value="@CarRefsContainer.currentRef.id">@fullName</p>
