
@using Entities;
@using PL.pages;
@using DependencyResolver;
@{
    Layout = "~/pages/_basicLayout.cshtml";

    var bll = Resolver.bll;

    UserContainer.currentUser = bll.GetUserInfo();

    var currentUser = UserContainer.currentUser;
}


<section id="carinfo">
    <p>
        <h2>Марка/Модель авто</h2>
        <span>Год выпска: </span><span></span><br>
        <span>Общий пробег: </span><span></span><span>км</span>
        <button>изменить</button>
    </p>
    <p>
        <h3>Масло</h3>
        <span>До следующей замены масла</span><span></span><span>км</span><br>
        <button>проведена замена масла</button>
    </p>
    <p>
        <h3>Привод ГРМ</h3>
        <span>Ресурс до замены: </span><span></span><span>км</span><br>
        <button>Проведено техобслуживание</button>
    </p>
    <p>
        <h3>Силовая установка</h3>
        <span>Ресурс до обслуживания: </span><span></span><span>км</span><br>
        <button>Проведено техобслуживание</button>
    </p>
    <p>
        <h3>Детали подвески</h3>
        <span>Ресурс до замены: </span><span></span><span>км</span><br>
        <button>Проведено техобслуживание</button>
    </p>
    <p>
        <h3>Рулевое управление</h3>
        <span>Ресурс до замены: </span><span></span><span>км</span><br>
        <button>Проведено техобслуживание</button>
    </p>
    <p>
        <h3>Тормозная система</h3>
        <span>Ресурс до замены: </span><span></span><span>км</span><br>
        <button>Проведено техобслуживание</button>
    </p>
</section>

<section id="mycars">
    <h2>Мой гараж:</h2>
    @foreach(Car car in currentUser.CarsList)
        {
            CarContainer.currentCar = car;
            @RenderPage("~/pages/_UserGarage.cshtml")
        }
    <button id="addCarToGarage" onclick="show()">добавить</button>
</section>

