#modalForm{
    padding: 20px;
    width: 700px;
    height: 800px;
    margin: auto;
    background-color:white;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    display: none;
}

#filter{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
}

input{
    border: none;
    outline: none;
}

textarea{
    width: 700px;
    height: 350px;
    resize: none;
}

#close{
    margin-top: 10px;
    right: 10px;
    bottom: 10px;
}

#add{
    right: 100px;
    bottom: 10px;
}

.carReference{
    line-height: 30px;
}

#carRefList{
    height: 700px;
    overflow-y: scroll;
}